target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


backend/src/main/resources/
### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/backend/src/main/webapp/media/
/backend/src/main/webapp/favicon.ico
/backend/src/main/webapp/index.html
/backend/src/main/webapp/polyfills-FFHMD2TL.js
/backend/src/main/webapp/styles-B37BEE3B.css
/backend/src/main/webapp/styles-JGX4B2HB.css
